
table {
  width: 40%;
  border-collapse: collapse;
  margin: 100px auto;
}

td {
  /*width: 33.333%;*/
  border: 6px solid #222;
}

td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

.x {
  background-color: cyan;
}

.o {
  background-color: magenta;
}
