@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
  background-color: #81CFE0;
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #336E7B;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  margin: 50px auto;
  cursor: pointer;
}

td {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 120px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif;
}

.bottom {
  border-bottom: 6px solid #336E7B;
}

.right {
  border-right: 6px solid #336E7B;
}

.x::after {
  content: "x";
  color: #444;
}

.o::after {
  content: "o";
  color: #FFF;
}

#message {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #FFF;
  margin: 0;
}
